<div class="custom-language-switcher">
  <DMenu
    @icon="globe"
    @title={{this.currentLocaleName}}
    @label={{this.currentLocaleName}}
    @identifier="custom-language-switcher"
    class="language-switcher-dropdown btn-flat"
  >
    <:content>
      <div class="language-switcher-content">
        <ul class="language-list">
          {{#each this.availableLocales as |locale|}}
            <li class="language-item {{if (eq locale.code this.currentLocale) 'selected'}}">
              <DButton
                @action={{fn this.changeLocale locale.code}}
                class="language-option {{if (eq locale.code this.currentLocale) 'active'}}"
              >
                <span class="language-name">{{locale.name}}</span>
                {{#if (eq locale.code this.currentLocale)}}
                  <span class="check-icon"></span>
                {{/if}}
              </DButton>
            </li>
          {{/each}}

          {{! 自定義按鈕直接在語言列表中 }}
          {{#each this.fixedButtons as |button|}}
            <li class="language-item fixed-button-item">
              <DButton
                @action={{fn this.navigateToUrl button.url}}
                class="language-option fixed-button-option"
              >
                <span class="language-name">{{button.name}}</span>
              </DButton>
            </li>
          {{/each}}
        </ul>
      </div>
    </:content>
  </DMenu>
</div>
